$firstcolor: #FFFFFF;
$seckondcolor: #000000;
$thirdcolor: #191970;

* {
    box-sizing: border-box;
    margin: 0
    padding: 20;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $firstcolor;
    text-decoration: none;
}

header {
    h1, p{
        color: $seckondcolor;
        text-align: center;
        position: relative;
        font-size: 40px;
        font-weight: bold;
    }
}

.text_song {
    pre{
        font-weight: normal;
        text-align: right;
        color: $thirdcolor;
    }
}